footer {
    height: 241px;
    background-color: #5F6164;
    color: #fff;
}
.footer-navbar {
    padding: 0;
    height: 241px;
    width: 100%;
}
.footer-navbar-brand {
    margin-left: 51px;
    text-decoration: none;
    color: #fff;
}
.footer-navbar-brand .logo {
    margin-right: 1rem;
}
.footer-navbar-phone {
    margin-left: 100px;
}
.footer-navbar-phone .phone-number {
    font-size: 1.5rem;
    line-height: normal
}