append styles
	// Custom styles for this template
	link(href='../css/_footer.css', rel='stylesheet')
block footer
	nav.footer-navbar.d-flex.align-items-center.justify-content-space-between
		a.footer-navbar-brand.d-flex.align-items-center(href="#")
			img.logo(src="../img/logo.svg", alt="logo", srcset="")
			div.d-inline-block СПАК управления развитием сельского и лесного<br> хозяйства с подсистемой картографии
		.footer-navbar-phone Тех. поддержка: <br>
			span.phone-number 8 800 123-23-34