extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/39.css', rel='stylesheet')
block header
	include ../_header.pug
block body
	.container
		.row
			.col-3.d-flex.flex-column
				.back.d-block
					a.small(href="#") Назад
					img(src="../img/icon-back-arrow.png", alt="")
				.heading ЕФИС ЗСН
				.efis-info.d-flex.flex-column
					span Всего полей: 1 252 344
					span Площадь полей:  1 234 567 890 Га
				.reg-subj
					.text Реестр объектов РФ:
					button#toggler.reg-button.position-relative Субъект РФ
						img.icon-down-arrow(src="../img/icon-down-arrow.png", alt="")
					#subj-list
						ul
							li 
								a(href="#") Республика Адыгея (Адыгея)
							li 
								a(href="#") Республика Алтай
							li 
								a(href="#") Республика Башкортостан
							li 
								a(href="#") Республика Бурятия 
							li 
								a(href="#") Республика Дагестан 
							li 
								a(href="#") Республика Ингушетия 
							li 
								a(href="#") Кабардино-Балкарская 
							li 
								a(href="#") Республика Республика 
							li 
								a(href="#") Калмыкия Карачаево-Черкесская 
							li 
								a(href="#") Республика Республика Карелия 
							li 
								a(href="#") Республика Коми Республика Крым 
							li 
								a(href="#") Республика Марий Эл 
							li 
								a(href="#") Республика Мордовия 
							li 
								a(href="#") Республика Саха (Якутия) 
							li 
								a(href="#") Республика Северная Осетия – Алания 
							li 
								a(href="#") Республика Татарстан (Татарстан) 
							li 
								a(href="#") Республика Тыва 
							li 
								a(href="#") Удмуртская Республика 
							li 
								a(href="#") Республика Хакасия 
							li 
								a(href="#") Чеченская Республика 
							li 
								a(href="#") Чувашская Республика – Чувашия 
							li 
								a(href="#") Алтайский край 
							li 
								a(href="#") Забайкальский край 
							li 
								a(href="#") Камчатский край 
							li 
								a(href="#") Краснодарский край 
							li 
								a(href="#") Красноярский край 
							li 
								a(href="#") Пермский край 
							li 
								a(href="#") Приморский край 
							//- li Ставропольский край 
							//- li Хабаровский край 
							//- li Амурская область 
							//- li Архангельская область 
							//- li Астраханская область 
							//- li Белгородская область 
							//- li Брянская область 
							//- li Владимирская область
							//- li Волгоградская область
							//- li Вологодская область
							//- li Воронежская область
							//- li Ивановская область
							//- li Иркутская область
							//- li Калининградская область
							//- li Калужская область
							//- lis Кемеровская область
							//- li Кировская область
							//- li Костромская область
							//- li Курганская область
							//- li Курская область
							//- li Ленинградская область
							//- li Липецкая область
							//- li Магаданская область
							//- li Московская область
							//- li Мурманская область
							//- li Нижегородская область
							//- li Новгородская область
							//- li Новосибирская область
							//- li Омская область
							//- li Оренбургская область
							//- li Орловская область
							//- li Пензенская область
							//- li Псковская область
							//- li Ростовская область
							//- li Рязанская область
							//- li Самарская область
							//- li Саратовская область
							//- li Сахалинская область
							//- li Свердловская область
							//- li Смоленская область
							//- li Тамбовская область
							//- li Тверская область
							//- li Томская область
							//- li Тульская область
							//- li Тюменская область
							//- li Ульяновская область
							//- li Челябинская область
							//- li Ярославская область
							//- li Город Москва
							//- li Город Санкт-Петербург
							//- li Город Севастополь
							//- li Еврейская автономная область 
							//- li Ненецкий автономный округ
							//- li Ханты-Мансийский автономный округ – Югра 
							//- li Чукотский автономный округ 
							//- li Ямало-Ненецкий автономный округ
			.col-9
				.efis-map

block footer
	include ../_footer.pug